div.hudComponent {
	position: absolute;
	overflow: hidden;
	background-color: white;
	border: 2px solid black;
	font-size: 0.8em;
	text-align: center;
	z-index: 9999;
}
#hudScore {
	top: -2px;
	left: 245px;
	width: 150px;
	height: 27px;
	font-size: 1.5em;	
	border-radius: 0 0 5px 5px;
}
#hudEnemy {
	top: -2px;
	left: -2px;
	width: 110px;
	height: 18px;
	border-radius: 0 0 5px 0;
	text-align: center;
	padding-top: 2px;
}
#hudKillstreak {
	top: -2px;
	right: -2px;
	width: 45px;
	height: 45px;
	font-size: 1.5em;	
	border-radius: 0 0 0 5px;
}
#hudKillstreak span { display: block; font-size: 0.4em; }
#hudHealth {
	bottom: -2px;
	left: -2px;
	width: 110px;
	height: 20px;
	border-radius: 0 5px 0 0;
	text-align: left;
}
#hudHealth img {
	margin-left: 2px;
	margin-top: 2px;
}
#hudAccuracy {
	bottom: -2px;
	right: -2px;
	width: 105px;
	height: 18px;
	padding: 2px 5px 0 0;
	border-radius: 5px 0 0 0;
	text-align: right;
}
#hudReload {
	bottom: -2px;
	left: 270px;
	width: 100px;
	height: 15px;
	border-radius: 5px 5px 0 0;
	color: white;
}
#hudReload.ready {
	background-color: #009900;
}
#hudReload.reloading {
	background-color: #990000;
}